﻿@font-face {
    font-family: 'walterregular';
    src: url('../fonts/walter__.eot');
    src: url('../fonts/walter__.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/walter__.woff2') format('woff2'), 
		 url('../fonts/walter__.woff') format('woff'), 
		 url('../fonts/walter__.ttf') format('truetype'), 
		 url('../fonts/walter__.svg#walterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
header {
	width: 100%;
  	display: inline-block;
    position: absolute;
    z-index: 999;
    background: rgba(0,0,0,0.1);
}
header h1 {
	font-family: 'walterregular';
    display:inline-block;
    color:#FFFFFF;
    }
header #logo {
    margin:0;
    float:left;
        }
nav {
	display:inline-block;
}
 body {
        margin:0;
        }
        #slider .owl-item div {
        }

        #slider .owl-item img {
            display: block;
            width: 100%;
            height: auto;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            position: relative;
        }
        #slider div .landScaping {
            position: absolute;
            top: 200px;
            background: rgba(0,0,0,0.1);
            color: #ffffff;
        }
        
        
        
         #slider div .stepContent {
            position: absolute;
            top: 100px;
            background: rgba(0,0,0,0.3);
            color: #FFFFFF;
            left:300px;
        }
        header #logo {
        margin:0;
        float:left;
        }
        header nav ul {
        list-style:none;
        margin:0;
        }
            header nav ul li {
            
            display:inline;
            }
        header nav ul li a{
            text-decoration:none;
            }